.loader {
    border: 16px solid var(--icon-color);
    border-radius: 50%;
    border-top: 16px solid var(--main-color);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    animation: loadSpin 2s linear infinite;
  }
  @keyframes loadSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .load{
    height: 100%;
    background-image: url('../assets/theme.PNG');
    background-size: cover;
    width: 100%; 
    position: absolute;
    top: 0%;
    left: 0%; 
    border-radius: 0;
    border: none;
    padding: 30px 0;
}
.load-center{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.load .title-window{
  font-size: 65px;
}
.wait{
  font-family: airstrike3d;
  color: wheat;
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
}