.setting{
    background-color: var(--window-color);
    height: 60%;
    width: 35%; 
    position: absolute;
    top: 20%;
    left: 30%; 
    text-align: center;
}
.setting-sound-btn button{
  border-radius: 10px;
  font-size: 20px;
  color: var(--white-texte-color);
  background-color: var(--main-color);
  border: 2px solid var(--white-texte-color);
  padding: 10px 20px;
}
.color-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.color-option {
    height:35px;
    width: 35px;
    border: 2px solid var(--border-color);
    list-style: none;
    border-radius: 6px;
    margin: 5px;
    transition: .2s;
    cursor: pointer;
  }
.color-option:hover {
    box-shadow: 0 0 0 5px rgba(0,0,0,.2);
  }
  .color-option .is-selected {
    transform: scale(1.1);
    box-shadow: 0 0 0 5px rgba(0,0,0,.2);
  }
  .color-option:nth-child(1) { background: #5e07b5 }
  .color-option:nth-child(2) { background: #b01f8e }
  .color-option:nth-child(3) { background: #dc5304 }
  .color-option:nth-child(4) { background: #de5d00 }
  .color-option:nth-child(5) { background: #00225D }
  .color-option:nth-child(6) { background: #003FAC }
  .color-option:nth-child(7) { background: #B20404 }
  .color-option:nth-child(8) { background: #E44545 }
  .color-option:nth-child(9) { background: #DA3E00 }
  .color-option:nth-child(10) { background: #FF8C09 }
  .color-option:nth-child(11) { background: #f7eb01 }
  .color-option:nth-child(12) { background: #1BB300  }

  .theme option {
    color: var(--white-texte-color);
    padding: 8px 16px !important;
    height: 50px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  .theme select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }  